service: short-url-telegram-bot-aws-lambda

provider:
  name: aws
  runtime: nodejs12.x
  region: us-west-2

package:
  individually: true
  exclude:
    - "*"

functions:
  shortbot:
    handler: handler.handle
    memorySize: 128
    package:
      include:
        - handler.js
        - node_modules
    environment:
      TELEGRAM_TOKEN: 'YOUR_TOKEN_HERE'
    events:
      - http:
          path: short-bot
          method: post
          cors: true